<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %} NewDepths.xyz | Depth data notifications {% endblock %}
    </title>
    <meta
      description="Get email notifications when new Multibeam Echosounder or Crowd-sourced Bathymetry data becomes available from various public datasources."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta twitter:card="summary" />
    <meta twitter:site="@Heath_Henley" />
    <meta twitter:title="NewDepths.xyz" />
    <meta
      twitter:description="Get email notifications when new Multibeam Echosounder or Crowd-sourced Bathymetry data becomes available from various public datasources."
    />
    <meta twitter:image="/static/social.png" />
    <meta og:title="NewDepths.xyz" />
    <meta
      og:description="Get email notifications when new Multibeam Echosounder or Crowd-sourced Bathymetry data becomes available from various public datasources."
    />
    <meta og:image="/static/social.png" />
    <link rel="icon" href="/static/favicon.ico" />
    <link
      rel="stylesheet"
      href="/static/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,600,600italic,700,700italic|Source+Code+Pro:500"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body hx-ext="loading-states" class="w-100 h-100 flex flex-col">
    <header class="md:px-12 p-4 border-b-2 flex justify-between items-center">
      <div>
        <h1 class="text-3xl"><a href="/">NewDepths.xyz</a></h1>
        <p class="text-sm">
          Get notifications when new MBES or CSB data becomes available from
          various public datasources.
        </p>
      </div>
      <div>
        {% if current_user %}
        <a href="/account" class="underline">Account</a> |
        <a href="/logout" class="underline">Logout</a>
        {% else %}
        <a href="/login" class="underline">Login</a>
        {% endif %}
      </div>
    </header>

    <main class="h-full w-full flex flex-col items-center p-2">
      {% block main_content %}{% endblock %}
    </main>

    <footer class="flex justify-center p-2 text-xs">
      <div>
        Made the new old way -
        <a
          class="underline"
          href="https://fastapi.tiangolo.com/"
          target="_blank"
          >FastAPI</a
        >,
        <a class="underline" href="https://tailwindcss.com/" target="_blank"
          >TailwindCSS</a
        >
        and
        <a class="underline" href="https://htmx.org" target="_blank">HTMX.</a>
        Running on
        <a class="underline" href="https://railway.app/" target="_blank"
          >Railway</a
        >
        -
        <a class="underline" href="https://github.com/heathhenley/NewDepths"
          ><i class="fa fa-brands fa-github"></i>
        </a>
      </div>
    </footer>
    <script src="/static/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
    {% block additional_js %}{% endblock %}
  </body>
</html>
