<div id="bbox_table" class="overflow-x-auto shadow-md sm:rounded-lg w-full">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <caption
      class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white"
    >
      Your Bounding Boxes
      <p class="mt-1 text-sm font-normal text-gray-500">
        These are your current bounding boxes. You will be notified when new
        data is available within these areas.
      </p>
    </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Parameters</th>
        <th scope="col" class="px-6 py-3">
          Request Data 
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Delete</span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for bbox in current_user.bboxes %}
      <tr class="bg-white border-b" id="bbox{{ bbox.id }}">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ bbox.id }}
        </th>
        <td class="px-6 py-4">
          Top left: {{ "%.4f" | format(bbox.top_left_lat) }}, {{ "%.4f" |
          format(bbox.top_left_lon) }}<br />
          Bottom right: {{ "%.4f" | format(bbox.bottom_right_lat) }}, {{ "%.4f"
          | format(bbox.bottom_right_lon) }}<br />
        </td>

        <td class="px-6 py-4">
          Order
          <a
            hx-get="/order/{{ bbox.id }}/multibeam"
            hx-swap="innerHTML"
            hx-target="#order_table_container"
            data-loading-target="#loading-indicator"
            class="font-medium text-blue-600 hover:underline hover:cursor-pointer"
            alt="Order data for this bounding box"
          >
            MBES
          </a>
          or
          <a
            hx-get="/order/{{ bbox.id }}/csb"
            hx-swap="innerHTML"
            hx-target="#order_table_container"
            data-loading-target="#loading-indicator"
            class="font-medium text-blue-600 hover:underline hover:cursor-pointer"
            alt="Order data for this bounding box"
          >
            CSB
          </a>
        </td>
        <td class="px-6 py-4 text-right">
          <a
            hx-delete="/bboxes/{{ bbox.id }}"
            hx-confirm="Are you sure you want to delete this bounding box?"
            hx-target="#bbox{{ bbox.id }}"
            class="font-medium text-red-600 hover:underline hover:cursor-pointer"
            alt="Delete this bounding box"
          >
            Delete
          </a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>