<div class="flex flex-col  w-3/4 bg-white rounded-lg" id="form">
  <div class="container mx-auto py-5 p-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <!-- Feature Box 1 -->
      <div class="px-4 rounded-lg">
        <h2 class="font-bold text-2xl mb-3">What is this?</h2>
        <p class="text-gray-700">
          Receive email notifications when new
          <a
            class="underline"
            href="https://noaa.maps.arcgis.com/home/item.html?id=db08517a205b48c98a9bc53fece67a46"
            target="_blank"
            >MBES</a
          >,
          <a
            class="underline"
            href="https://www.ngdc.noaa.gov/iho/#csb"
            target="_blank"
            >CSB</a
          >, or
          <a
            class="underline"
            href="https://noaa.maps.arcgis.com/home/item.html?id=f8ca92b0f19a4de3887bdc160f73106e"
            target="_blank"
            >NOS surveys (w/ digital data)</a
          >
          data become available at NOAA's endpoints. You can also request the
          actual MBES or CSB from NOAA's
          <a
            href="https://github.com/CI-CMG/pointstore-api-docs/blob/main/pointstore_api.md"
            target="_blank"
            class="underline"
            >point store API
          </a>
          for your bounding boxes from your account page.
        </p>
      </div>
      <!-- Feature Box 2 -->
      <div class="px-4 rounded-lg">
        <h2 class="font-bold text-2xl mb-3">How does it work?</h2>
        <ol class="text-gray-700 list-decimal px-4">
          <li>
            <a
              hx-swap="outerHTML"
              hx-get="/login"
              hx-target="#form"
              class="underline hover:cursor-pointer"
            >
              Login</a
            >
            or
            <a
              hx-swap="outerHTML"
              hx-get="/register"
              hx-target="#form"
              class="underline hover:cursor-pointer"
            >
              Register</a
            >
          </li>
          <li>Create a bounding box</li>
          <li>Get daily email summary (only when there's new data)</li>
          <li>Optionally request data in the box from NOAA</li>
        </ol>
      </div>
    </div>
  </div>
</div>
