<div class="flex flex-col p-2" id="form">
  <p class="text-2xl">You are not logged in</p>
  <p class="text-sm">
    Please log in to make a bounding box and get notified when new MBES or CSB
    data becomes available
  </p>
  <span>
    <a hx-swap="outerHTML"
      hx-get="/login"
      hx-target="#form"
      class="text-blue-500 underline hover:text-blue-700 hover:cursor-pointer">
      Login</a> or <a hx-swap="outerHTML"
      hx-get="/register"
      hx-target="#form"
      class="text-blue-500 underline hover:text-blue-700 hover:cursor-pointer">
    Register</a>
  </span>
</div>
