<div class="flex flex-col p-2 w-full md:w-1/2" id="form">
  <form hx-post="/login" hx-swap="outerHTML" hx-target="#form" class="flex flex-col">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username" />
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" />
    <label for="password_confirm">Confirm Password</label>
    <input type="password" name="password_confirm" placeholder="Password" />
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email" />
    <div id="error"></div>
    <button type="submit" class="bg-blue-500 text-white p-2 rounded-md">
      Register
  </form>
</div>
