<div class="flex flex-col p-2" id="form">
  <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
      >
        Create account
      </h1>
      <div>
        <p class="text-sm py-2 font-light text-gray-500">
          You can log in with a site specific email/password, or using Google. I recommend using Google. Either way, your email is used only to send you alerts about new NOAA data in the areas you are interested in.
        </p>
        {% include "partials/google_button.html" %}
      </div>
      <form class="space-y-4 md:space-y-6" action="/register" method="POST">
        {% if error %}
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
          role="alert"
        >
          <strong class="font-bold">Error:</strong>
          <span class="block sm:inline">{{ error }}</span>
        </div>
        {% endif %}
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Your email</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
            placeholder="name@company.com"
            required=""
          />
        </div>
        <div>
          <label
            for="password"
            class="block text-sm font-medium text-gray-900"
            >Password</label
          >
          <div class="py-2">
            <div
              id="password-rules"
              class="text-xs bg-blue-100 border border-blue-400 text-blue-700 px-4 py-2 rounded relative"
              role="alert"
            >
              Please use a strong, unique password, of length greater than 8
              characters
            </div>
          </div>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
            required=""
          />
        </div>
        <div>
          <label
            for="password_confirm"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Confirm password</label
          >
          <input
            type="password"
            name="password_confirm"
            id="password_confirm"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
            required=""
          />
        </div>
        <button
          type="submit"
          class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          Register
        </button>
        <p class="text-sm font-light text-gray-500">
          Already registered?
          <a
            hx-get="/login"
            hx-swap="outerHTML"
            hx-target="#form"
            class="font-medium text-blue-600 hover:underline"
            >Log in here</a
          >
        </p>
      </form>
    </div>
  </div>
</div>
