{% extends "shared/_layout.html" %}
{% block main_content %}
<section id="container" class="w-full md:w-3/4 h-1/2 flex flex-col items-center">
  {% include "partials/map.html" %}
</section>
<section class = "flex flex-col items-center">
  {% if current_user %}
    {% include "partials/save_bbox.html" %}
  {% else %}
    {% if register %}
      {% include "partials/register.html" %}
    {% elif login %}
      {% include "partials/login.html" %}
    {% else %}
      {% include "partials/not_logged_in.html" %}
    {% endif %}
  {% endif %}
</section>
{% endblock %}